/* .headerPrincipal-titulo{
    display: inline-block;
    vertical-align: middle;
}

.headerPrincipal-nav{
    display: inline-block;
    vertical-align: middle;
    
} */
.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.headerPrincipal-nav{
    display: flex;

}
/* 
.encabezado{
    display: flex;
    align-items: center;
    justify-content:space-between;
} */

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
    
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm-legend{
    width: 25%;
    
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
    /* justify-content: space-between; */
    
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column; /* indica al navegador la direccion en la que debe alinear los elementos del flexbox, default row */
    height: 260px;
    flex-wrap: wrap; /* indica al navegador que una vez la columna alcance la altura definida, haga un quiebre y coloque la siguiente columna a la misma altura que la anterior   */
}

.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;

}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

/* .grid{
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 50px;
    width: 12%;
    margin: 1px 1px;
    background-color: green;
    color: blanchedalmond;

} */

.videoSobre .container{
    display: flex;
}

.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.videoSobre-video{
    flex-grow: 2; /* toma el espacio sobrante dentro del container, divide entre el numero de items dentro del mismo y al item con la propiedad flex-grow se le asignará un espacio para crecer tantas veces más como el valor asignado (en el caso que lo necesite). En este caso, este item se le asignará del espacio disponible 2 veces más que a todos los otros    */
    flex-shrink: 2;
}

.videoSobre-sobre-list{
    flex-grow: 2;
}
/* RESPONSIVE */
@media (max-width:768px) {

    .headerPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav{
        flex-direction: column;

    }

    .contenidoPrincipal-cursos {
        flex-direction: row;
        
    }

    .contenidoPrincipal-cursos-link{
        width: 100%;
    }

    .rodapePrincipal-navMap-list{
        height:auto;
        flex-wrap: nowrap;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-patrocinadores-list{
        align-items: initial;
        width: 100%;
        margin: 0;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }

    .headerPrincipal-nav-link-app{
        order: -1;
    }

    .videoSobre .container{
        flex-direction: column;
        align-items: center;

    }
}