.app {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
    "encabezado"
    "contenido"
    "rodapie";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;  /* The full form of VH is viewport height. It works like the percentage unit as well. Specifying 10vh is equivalent to occupying 10% of entire visible screen height. */
    /* auto = ajusta tamaño del template de acuerdo al contwndio del mismo */
}

.encabezado {
    /* background: #00cc99; */
    grid-area: encabezado;
    
}
.contenido {
    /* background: #ff8080; */
    grid-area: contenido;
}

.rodapie { 
    /* background: #0099ff; */
    grid-area: rodapie;
    
}